.footer {
    width: 100%;
    height: auto;
    background-color: var(--primery-color);
    display: flex;
    justify-content: center;
    align-items: center;
}


.footer-text {
    font-family: 'Inter' , sans-serif;
    text-align: center;
    color: var(--font-color);
}



.footer-text span {
    font-weight: bolder;
    cursor: pointer;
    white-space: nowrap;
    transition: all 0.2s ease-in-out;
}

